{% extends 'layout.html' %}
{% block content %}
    <div class="container"><p><h1 align="center">View Data</h1></p>
        <div class="table_wrapper">
            <div class="table_title">
                <div class="row">
                    <div class="col-sm-8"><h3>Data Details</h3></div>
                    <div class="col-sm-4">
                        <a href="#btnAddModal" title="Add" data-toggle="modal">
                            <button type="button" class="btn btn-info add-new" style="float: right;
                                    height: 30px;
                                    font-weight: bold;
                                    font-size: 12px;
                                    text-shadow: none;
                                    min-width: 100px;
                                    border-radius: 50px;
                                    line-height: 13px;">
                                    <i class="fa fa-plus"></i>Add New</button>
                        </a>
                    </div>
                </div>
            </div>


            <table id="data" class="table table-striped">
              <thead>
                <tr>
                  {% for header in headers %}
                    <th>{{ header }}</th>
                  {% endfor %}
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                {% for i, row in df.iterrows() %}
                  <tr>
                    {% for col in row.values.tolist() %}
                      <td>{{ col }}</td>
                    {% endfor %}
                    <td>

                        <a href="/edit_data/{{i}}" class="edit-btn" data-toggle="modal" data-target="#modaledit{{i}}"><i class="fa fa-pencil" data-toggle="tooltip"></i></a>
                        <a href="/delete/{{ i }}" class="delete-btn" onclick="return confirm('Are You Sure For Delete?')"><i class="fa fa-trash-o" data-toggle="tooltip"></i></a>



                    </td>
                  </tr>

    <!--Edit Modal -->
                <div id="modaledit{{ i }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Data</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('edit_data') }}" method="POST">
                                        <div class="form-group">
                                            <label for="run_name">Run Name</label>
                                            <input type="hidden"  name="id" value="{{i}}">

                                            <input type="text" id="editRunName" name="editRunName"
                                                   class="form-control" value="{{ row.iloc[1] }}"
                                                   minlength="6" maxlength="6" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="date">Date</label>
                                            <input type="date" id="editDate" name="editDate" class="form-control" value="{{ row.iloc[2] }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="product_id">Product ID</label>
                                            <input type="text" id="editProductId" name="editProductId"
                                                   class="form-control" value="{{ row.iloc[3] }}"
                                                   minlength="6" maxlength="6" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="battery_type">Battery Type</label>
                                            <select name="editBatteryType" id="editBatteryType" class="form-control" value="{{ row.iloc[4] }}" required>
                                                <option value="Pouch">Pouch</option>
                                                <option value="X">X</option>
                                                <option value="Y">Y</option>

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="units_produced">Units Produced</label>
                                            <input type="number" id="editUnitsProduced" name="editUnitsProduced" class="form-control" value="{{ row.iloc[5] }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="average_performance">Average Performance</label>
                                            <input type="number" id="editAveragePerformance" name="editAveragePerformance" class="form-control" value="{{ row.iloc[6] }}" required>
                                        </div>

                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <input type="submit" id="save-btn" name="save-btn" class="btn btn-success" value="Save">
                                        </div>
                                    </form>
                                </div>
                        </div>
                    </div>

                </div>
            {% endfor %}

              </tbody>
            </table>
        </div>
    </div>
              <!-- End of Edit Modal -->

        <!--Add Modal -->
                <div id="btnAddModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" action="/add_data" id="addform">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add New Data</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="run_name">Run Name</label>
                                        <input type="text" name="run_name" id="run_name"
                                               class="form-control" minlength="6" maxlength="6" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Date</label>
                                        <input type="date" name="date" id="date" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="product_id">Product ID</label>
                                        <input type="text" name="product_id" id="product_id"
                                               class="form-control" minlength="6" maxlength="6" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="battery_type">Battery Type</label>
                                        <select name="battery_type" id="battery_type" class="form-control" required>
                                            <option value="Pouch">Pouch</option>
                                            <option value="X">X</option>
                                            <option value="Y">Y</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="units_produced">Units Produced</label>
                                        <input type="number" name="units_produced" id="units_produced" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="average_performance">Average Performance</label>
                                        <input type="number" name="average_performance" id="average_performance" class="form-control" required>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-success" value="Add">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
              <!-- End of Add Modal -->
{% endblock %}

{% block scripts %}
    <script>
        $('#modaledit{{ i }}').on('click', '#save-btn', function() {
      // Get the updated values from the form fields in the Edit Modal
      let updatedData = {

        'col1': $('#editRunName').val(),
        'col2': $('#editDate').val(),
        'col3': $('#editProductId').val(),
        'col4': $('#editBatteryType').val(),
        'col5': $('#editUnitsProduced').val(),
        'col6': $('#editAveragePerformance').val()

      };

      // Get the row index of the row being edited
      let rowIndex = $('#id').val();


      // Update the HTML table with the new values
      let $row = $('#data tbody tr').eq(rowIndex);
      $row.find('.col1').text(updatedData['col1']);
      $row.find('.col2').text(updatedData['col2']);
      $row.find('.col3').text(updatedData['col3']);
      $row.find('.col4').text(updatedData['col4']);
      $row.find('.col5').text(updatedData['col5']);
      $row.find('.col6').text(updatedData['col6']);

      // Hide the Edit Modal
      $('#modaledit{{ i }}').modal('hide');

      // Reload the page to display the updated data
      location.reload();
    });
    </script>

    <!-- Script for Add New Data Modal-->
    <script>
      const addModalButton = document.getElementById('btnAddModal');
      const addModal = document.getElementById('addModal');

      addModalButton.addEventListener('click', () => {
          addModal.style.display = 'block';
      });
    </script>

    <script>
        let df
        // JavaScript code

        $(document).ready(function() {
          // Load the dataframe from Flask endpoint
          $.ajax({
            url: '/upload',
            type: 'GET',
            dataType: 'json',
            success: function(response) {
              df = response.data;
              {#populateTable(df);#}
            }
          });
        });


        // Function to populate the Edit Modal with previous data
        function populateEditModal(row_index, df) {
          // Get the values of the selected row from the DataFrame
            let run_name = df.loc[row_index, 'Run Name'];
            let date = df.loc[row_index, 'Date'];
            let product_id = df.loc[row_index, 'Product ID'];
            let battery_type = df.loc[row_index, 'Battery Type'];
            let units_produced = df.loc[row_index, 'Units Produced'];
            let average_performance = df.loc[row_index, 'Average Performance'];

          // Set the values of the input fields in the Edit Modal
          $('#editRunName').val(run_name);
          $('#editDate').val(date);
          $('#editProductId').val(product_id);
          $('#editBatteryType').val(battery_type);
          $('#editUnitsProduced').val(units_produced);
          $('#editAveragePerformance').val(average_performance);

          // Set the value of the hidden input field to the row index
          $('#editRow').val(row_index);
        }

        // Function to handle the Edit button click event
        function handleEditClick(row_index, df) {
          // Populate the Edit Modal with previous data
          populateEditModal(row_index, df);
          // Show the Edit Modal
          $('#editModal').modal('show');
        }

        // Attach the handleEditClick function to the Edit button for each row
        $('.edit-btn').click(function() {
          let row_index = $(this).attr('data-row');
          console.log('Row index:', row_index);
          handleEditClick(row_index, df);
        });

    </script>
  <script>
  //Using DataTable to provide searchable and orderable columns when viewing data.
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          null,
          null,
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null,
          {orderable: false, searchable: false}]
      });
    });
  </script>
{% endblock %}